<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <style>
         body {
             width: 800px;
             margin: auto;
         }
         table, th, td {
             border: 1px solid black;
             border-collapse: collapse;
         }
     </style>
 </head>
 <body>
 <header>
     <h1>Welcome to our Balloon Shop App</h1>
     <h2 th:text="${header}"></h2>
 </header>
 <main>



     <form method="post" action="/balloons/add">
         <input id="id" type="hidden" name="id" th:value="(${balloon} != null ? ${balloon.getId()} : '')">
         <label>Name<input type="text" name="name" th:value="(${balloon} != null ? ${balloon.getName()} : '')"></label><br>
         <label>Description<input type="text" name="description" th:value="(${balloon} != null ? ${balloon.getDescription()} : '')"></label><br>
         <label>Manufacturer <select name="manufacturer">
             <option th:each="man : ${manufacturers}" th:value="${man.getId()}" th:text="${man.getName()}"></option>
         </select>
         </label>
         <button type="submit">Submit</button>
     </form>
 </main>
 </body>
 </html>