
 <th:block xmlns:th="http://www.thymeleaf.org">
 <header>
     <h1>Welcome to our Balloon Shop App</h1>
     <ul>
         <li><a href="/balloons">Balloons</a></li>
         <li><a href="/carts">Carts</a></li>
         <li><a href="/logout" style="float:right">Logout</a></li>
     </ul>
     <h2 th:text="${header}"></h2>
 </header>

 <main>

    <ul>
        <li></li>
    </ul>

     <form method="post" action="/balloons/add">
         <input id="id" type="hidden" name="id" th:value="(${balloon} != null ? ${balloon.getId()} : '')">
         <label>Name<input type="text" name="name" th:value="(${balloon} != null ? ${balloon.getName()} : '')"></label><br>
         <label>Description<input type="text" name="description" th:value="(${balloon} != null ? ${balloon.getDescription()} : '')"></label><br>
         <label>Manufacturer <select name="manufacturer">
             <option th:each="man : ${manufacturers}" th:value="${man.getId()}" th:text="${man.getName()}"></option>
         </select>
         </label>
         <button id="submit" type="submit">Submit</button>
     </form>
 </main>
 </th:block>