
<th:block xmlns:th="http://www.thymeleaf.org">
<header>
    <ul>
        <li><a href="/balloons">Balloons</a></li>
        <li><a href="/carts">Carts</a></li>
        <li><a href="/logout" style="float:right">Logout</a></li>
    </ul>
</header>
<main>
    <table>
        <tr>
        <th>Date created</th>
        <th> </th>
        </tr>
        <tr th:each="cart : ${carts}">
            <td th:text="${cart.getDateCreated()}"></td>
            <td colspan="2">
                <form th:action="@{'/carts/select/{id}' (id=${cart.getId()})}">
                    <input type="submit" value="Select">
                </form>
                <form th:method="delete" th:action="@{'/carts/delete/{id}' (id=${cart.getId()})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <form action="/carts/add">
        <input type="submit" value="Add">
    </form>

</main>
</th:block>