<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <meta charset="utf-8"/>
  <title>WP lab - Confirmation Info</title>
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}"/>
  <style type="text/css">
    body {
      width: 1200px;
      margin: auto;
    }
    table {
      width:100%;
    }
    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }
  </style>
</head>
<body>
<th:block xmlns:th="http://www.thymeleaf.org">
<section>
  <header>
    <h1>Balloon Order page - Order confirmation </h1>
      <ul>
        <li><a href="/balloons">Balloons</a></li>
        <li><a href="/carts">Carts</a></li>
        <li><a href="/logout" style="float:right">Logout</a></li>
      </ul>
</header>
  <table>
    <tr>
      <th colspan="2">
        Your Order Status
      </th>
    </tr>
    <tr>
      <td><b>Client IP Address</b></td>
      <td><th:block th:text="${clientIPAddress}"></th:block> </td>
    </tr>
    <tr>
      <td><b>Client Browser</b></td>
      <td><th:block th:text="${clientBrowser}"></th:block> </td>
    </tr>
    <tr>
      <td><b>Balloon Color </b></td>
      <td><th:block th:text="${color}"></th:block></td>
    </tr>
    <tr>
      <td><b>Balloon Size </b></td>
      <td><th:block th:text="${size}"></th:block></td>
    </tr>
    <tr>
      <td><b>Cart </b></td>
      <td><th:block th:text="${cart}"></th:block></td>
    </tr>
  </table>
  <div>
    <a href="/orderToCart">Place order to cart</a>
  </div>


</section>
</th:block>
</body>
</html>