<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <meta charset="utf-8">
  <title>WP lab - Delivery Info</title>
  <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
  <style type="text/css">
    body {
      width: 1200px;
      margin: auto;
    }
    table {
      width: 100%;
    }

    table, td, th {
      border: 1px solid black;
      padding: 3px 2px;
    }

    section {
      float: left;
      margin: 0 1.5%;
      width: 63%;
    }

    aside {
      float: right;
      margin: 0 1.5%;
      width: 30%;
    }
  </style>
</head>
<body>
<header>
  <ul>
    <li><a href="/balloons">Balloons</a></li>
    <li><a href="/carts">Carts</a></li>
    <li><a href="/logout" style="float:right">Logout</a></li>
  </ul>
  <h1>Balloon Order page - Delivery information </h1>
</header>
<section>

  <form method="post" action="/ConfirmationInfo">
    <label>Shopping Cart <select name="cart">
      <option th:each="cart : ${carts}" th:value="${cart.getId()}" th:text="${cart.getDateCreated()}"></option>
    </select>
    <input type="submit" value="Submit">
    </label>
  </form>
</section>
<aside>
  <table>
    <tr>
      <th colspan="2">
        Your Order Status
      </th>
    </tr>

    <tr>
      <td><b>Balloon Color </b></td>
      <td><th:block th:text="${color}"></th:block> </td>
    </tr>
    <tr>
      <td><b>Balloon Size </b></td>
      <td><th:block th:text="${size}"></th:block> </td>
    </tr>
  </table>
</aside>
</body>
</html>