<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
  <meta charset="utf-8">
  <title>Balloon Order page - Welcome and choose a Balloon</title>
  <style>
    body {
      width: 800px;
      margin: auto;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>
<header>
  <h1>Welcome to our Balloon Shop App</h1>
</header>
<main>
  <h2>Previous Orders</h2>
  <table>
    <tr>
      <th>Balloon Color</th>
      <th>Balloon Size</th>
      <th>Client Name</th>
      <th>Client Address</th>
      <th>ID</th>
    </tr>
    <tr th:each="order: ${orders}">
      <td><th:block th:text="${order.getBalloonColor()}"></th:block> </td>
      <td><th:block th:text="${order.getBalloonSize()}"></th:block> </td>
      <td><th:block th:text="${order.clientName}"></th:block> </td>
      <td><th:block th:text="${order.clientAddress}"></th:block> </td>
      <td><th:block th:text="${order.orderId}"></th:block> </td>
    </tr>
  </table>

  <h2>Balloons</h2>
  <ul>
    <li th:each="balloon: ${balloons}"> <th:block th:text="${balloon.name}"></th:block> </li>
  </ul>

  <h2>Choose balloon color:</h2>
  <form action="/selectBalloon" method="post">
  <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
  <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
  <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
  <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>
  <input type="submit" value="Submit">
  </form>
</main>
</body>
</html>