
<th:block xmlns:th="http://www.thymeleaf.org">
<ul>
  <li><a href="/balloons">Balloons</a></li>
  <li><a href="/carts">Carts</a></li>
  <li><a href="/logout" style="float:right">Logout</a></li>
</ul>

<h2>Previous Orders</h2>
<table>
  <tr>
    <th>Balloon Color</th>
    <th>Balloon Size</th>
  </tr>
  <tr th:each="order: ${orders}">
    <td><th:block th:text="${order.getBalloonColor()}"></th:block> </td>
    <td><th:block th:text="${order.getBalloonSize()}"></th:block> </td>
  </tr>
</table>
</th:block>