
<th:block xmlns:th="http://www.thymeleaf.org">
<h2>Register</h2>
<form method="post" action="/register">
    <label for="username">Username:<input type="text" id="username" name="username"></label><br>
    <label for="name">Name:<input type="text" id="name" name="name"></label><br>
    <label for="surname">Surname:<input type="text" id="surname" name="surname"></label><br>
    <label for="birthdate">Date of birth: <input type="date" id="birthdate" name="birthdate"></label><br>
    <label for="password">Password:<input type="password" id="password" name="password"></label><br>
    <button type="submit">Register</button>
</form>

</th:block>