<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
    <title>Register</title>
    <style>
        body {
            width: 1200px;
            margin: auto;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h2>Register</h2>
<form method="post" action="/register/confirm">
    <label for="username">Username:<input type="text" id="username" name="username"></label><br>
    <label for="name">Name:<input type="text" id="name" name="name"></label><br>
    <label for="surname">Surname:<input type="text" id="surname" name="surname"></label><br>
    <label for="birthdate">Date of birth: <input type="date" id="birthdate" name="birthdate"></label><br>
    <label for="password">Password:<input type="password" id="password" name="password"></label><br>
    <button type="submit">Register</button>
</form>

</body>
</html>